# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Database & Docker volumes
mysql_data/
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
